.action
	display: block
	margin: 1em auto
	padding: 1em 3em
	border: none
	border-radius: 3px
	background: transparent
	font-size: 17px

	&--primary
		background: $green
		color: white

		&:active
			transform: translateY(2px)

	&--secondary
		text-decoration: underline
		text-align: center
		color: $darkblue
		margin: -12px 0 0 0

.link
	text-decoration: underline
	padding: 0
	margin: 1em 0
	background: transparent
	border: none