@import './_normalize'
@import './_fonts'

$grey--fill: #fafbfb
$grey--line: #DEE4E7
$black--text: #323B40
$blueblack: #435061

*,
*::before, *::after
	box-sizing: border-box

body
	font-size: 17px
	font-family: 'Europa', 'Helvetica', 'Arial', sans-serif
	font-weight: 300
	color: $black--text
	background: $blueblack

@import './typography'

@import './_template-phone'

@import './_template-pages'
@import './_homepage'

@import './messages'
