extends ./layout/_default

block content
	.page.page--homepage.js-homepage
		img(src='/img/animation.gif').homepage__breathe
		.homepage__actions
			button.action.action--primary.js-toggle-homepage.js-trigger-spotlight Spotlight session
			button.action.action--secondary.js-toggle-homepage.js-trigger-reflection Reflection session
	.page.active
		.page__topbar
			button.link.js-toggle-homepage Go back

		ul.messages.js-message-container
			//- This is populated by scripts :)

		.page__input
			input(type='text' autofocus).js-user-input
		.page__keyboard