doctype html
html.no-js(lang='en')
	head
		//- Practical stuff
		title CBT Interactive
		meta(name='description', content='Delivering effective cognitive behavioural therapy to sufferers of functional neurological disorders, through a simple chat-based interface.')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/css/main.css')

		//- Twitter previews
		meta(name='twitter:card' content='summary_large_image')
		meta(name='twitter:site' content='@jackbush')
		meta(name='twitter:title' content='CBT Interactive')
		meta(name='twitter:description' content='Delivering effective cognitive behavioural therapy to sufferers of functional neurological disorders, through a simple chat-based interface.')
		
		//- Facebook previews
		meta(name='og:title' content='CBT Interactive')
		meta(name='og:url' content='http://cbt-interactive.herokuapp.com')
		meta(name='og:image' content='http://cbt-interactive.herokuapp.com/img/social.png')
		meta(name='og:description', content='Delivering effective cognitive behavioural therapy to sufferers of functional neurological disorders, through a simple chat-based interface.')
		meta(name='og:type' content='website')

	body
		.phone: .phone__screen

			.page.page--homepage.js-homepage
				.homepage__animation.js-alt-image
				.homepage__actions
					button.action.action--primary.js-toggle-homepage.js-trigger-spotlight Spotlight session
					button.action.action--primary.js-toggle-homepage.js-trigger-journal Journal session
					a(href='/about/' target='_blank').action.action--secondary About this app

			.page
				.page__topbar: button.link.js-toggle-homepage.js-stop-chat Back to homepage

				ul.messages.js-message-container
					//- This is populated by scripts :)

				.page__input
					input(type='text' autofocus).js-user-input
				.page__keyboard

		script(src='/js/dist/main.output.js')